* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid 1px black;
    gap: 10px;
    align-items: center;

}

.navbar__s1__title {
    color: #9B44D0;
    align-items: center;
}

.navbar__s2 {
    padding: 10px;
    border: solid 1px black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    font-size: 16px;
    width: 100%;

}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories {
    display: flex;
    padding: 10px;
    border-bottom: solid 1px black;
    justify-content: space-around;

}

.categories p {
    background-color: #9B44D0;
    color: white;
    padding: 10px;
    border-radius: 30px;

}

.saleimage img {
    width: 100%;

}

.recommended {
    padding: 10px;

}

.recommended__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;

}

.course-card {
   width: 300px;

}

.course-card img {
    width: 100%;
    height: 50%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

}

.topics__container p {
    border: solid 2px grey;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 10px;

}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    

}
.footer{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer__one{
    display: flex;
    gap: 10px;

}

.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
